[user]
	name = Filips Alpe
	email = filips@akeneo.com
[color]
	ui = true
[push]
	default = current
[alias]
	s = status -sb
	wd = diff --word-diff
	wds = diff --staged --word-diff
	pushup = push --set-upstream
	b = branch
	ds = diff --staged
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[core]
	whitespace = trailing-space,space-before-tab
[diff]
	renames = copies
[branch]
	autosetupmerge = true
[merge]
	stat = true
