[user]
	name = Filips Alpe
	email = filips@akeneo.com
[color]
	ui = true
[push]
	default = current
[alias]
	s = status -sb
	wd = diff --word-diff
	wds = diff --staged --word-diff
	pushup = push --set-upstream
	b = branch
	ds = diff --staged
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	undo = reset --soft HEAD~1
	untrack = update-index --assume-unchanged
	track = update-index --no-assume-unchanged
	untracked = !git ls-files -v | grep "^[[:lower:]]"
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = /home/philip/.gitignore
[diff]
	renames = copies
[branch]
	autosetupmerge = true
[merge]
	stat = true
	tool = meld
[gui]
	editor = subl
	diffcontext = 10
